<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Sitecore.Foundation.Serialization" description="Sitecore Foundation Serialization Description">
          <targetDataStore physicalRootPath="C:\Users\arif.ahmed\source\repos\Helix Example 1\Foundation\Serialization\serialization" useDataCache="false" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" singleInstance="true"/>
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            
            <!--Templates-->
            <include name="Sitecore.Foundation.Serialization.Templates.Foundation" database="master" path="/sitecore/templates/Foundation">
              <exclude children="true"/>
            </include>
            <include name="Sitecore.Foundation.Serialization.Templates.Project" database="master" path="/sitecore/templates/Project">
              <exclude children="true"/>
            </include>
            <include name="Sitecore.Foundation.Serialization.Templates.Feature" database="master" path="/sitecore/templates/Feature">
              <exclude children="true"/>
            </include>
            
            <!--Media Library-->
            <include name="Sitecore.Foundation.Serialization.MediaLibrary.Foundation" database="master" path="/sitecore/media library/Foundation">
              <exclude children="true"/>
            </include>
            <include name="Sitecore.Foundation.Serialization.MediaLibrary.Project" database="master" path="/sitecore/media library/Project">
              <exclude children="true"/>
            </include>
            <include name="Sitecore.Foundation.Serialization.MediaLibrary.Feature" database="master" path="/sitecore/media library/Feature">
              <exclude children="true"/>
            </include>
          </predicate>

        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>